$font-size-h: 80px;
$font-size-m: 40px;
$font-size-s: 20px;
$font-size-xs: 10px;
$font-stack: Helvetica, sans-serif;

@mixin title-big($size) {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 20px;
  margin-right: 50px;
  font-size: $size;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
